
body{
    background-color: #2F2235;
}
p{
    font-weight: bold;
}
.users-container {
    width: 500px;
    margin: auto auto;
}
.user-card{
    background-color: #A9ACA9;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
.user-pic{
    border-radius: 50%;
}
.user-card-data{
    text-align: center;
}